@model WebApplication3.Models.User
@{
    ViewData["Title"] = "Home Page";
}
<h2>Главная страница</h2>

@if(User.Identity.IsAuthenticated)
{
    <form asp-action="ToProfile" method="get" asp-controller="Home">
                <input type="submit" value="Профиль" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a><br>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

